// 网站主色调
$primary-color:#f8484f;
// 主色调下陪衬的文字颜色
$foil-text-color:#fff;
// 主文字色
$primary-text-color:#000;
// 辅文字色
$secondary-text-color:#919191;
// 背景色
$bg-color:#f7f7f7;
// 边框色
$bd-color:#eaeaea;
// placeholder颜色
$placeholder-color:#c7c7c7;
// 禁用状态下的背景色
$disble-bg-color:#ccc;
// 禁用状态下的文字色
$disble-text-color:#ccc;